[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
accelerate = "*"
datasets = "*"
transformers = "*"
sentencepiece = "*"
pycocotools = "*"
notebook = "*"
ipykernel = "*"
matplotlib = "*"
torchvision = "*"

[dev-packages]

[requires]
python_version = "3.10"
